*{
    margin: 0;
    padding: 0;

}
.container{
    display: grid;
    
}
.card{
    display: flex;
    width: 99vw;
    height: 30vh;
    border: 2px solid black;
    margin-top: 2%;
    /* padding: 2%; */
    
}
.img{
    height: 100%;
}